


:root {
    /* primary color */
    --primary-color: #FFA500; 
    --secondary-color: #A27D52; 
    --thirthy-color: #FFF7EB;  
    --fourth-color: #FFB188;  
    --fifth-color: #FFA854;  


    /* font color */
    --primary-font-color: #2F4858; 
}
